{
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "plugins": [
    "import",
    "jsx-a11y",
    "react",
    "react-hooks",
    "prettier",
    "@typescript-eslint",
    "autofix",
    "unused-imports"
  ],
  "extends": ["airbnb", "prettier"],
  "rules": {
    "import/no-unresolved": "off",
    "import/no-self-import": "off",
    "no-underscore-dangle": "off",
    "prettier/prettier": "error",
    "autofix/no-debugger": "error",
    "no-void": "warn",
    "camelcase": "off",
    "no-shadow": "off",
    "no-plusplus": "off",
    "default-case": "off",
    "import/order": "off",
    "no-unused-vars": "off",
    "no-return-assign": "off",
    "react/prop-types": "off",
    "no-param-reassign": "off",
    "consistent-return": "off",
    "no-nested-ternary": "off",
    "no-unused-expressions": "off",
    "react/button-has-type": "off",
    "array-callback-return": "off",
    "react/forbid-prop-types": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/react-in-jsx-scope": "off",
    "react/no-array-index-key": "off",
    "react/no-unused-prop-types": "off",
    "react/require-default-props": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": "off",
    "@typescript-eslint/ban-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prefer-stateless-function": "off",
    "react/destructuring-assignment": "off",
    "import/no-extraneous-dependencies": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "@typescript-eslint/no-use-before-define": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never",
        "js": "never",
        "jsx": "never"
      }
    ],
    "quotes": "off",
    "no-undef": "off",
    // "jsx-a11y/anchor-is-valid": [
    //   "error",
    //   {
    //     "components": ["Link"],
    //     "specialLink": ["hrefLeft", "hrefRight"],
    //     "aspects": ["invalidHref", "preferButton"]
    //   }
    // ],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "no-mixed-spaces-and-tabs": 0,
    "max-lines": [1, { "max": 200 }],
    "max-params": [1, { "max": 5 }],
    "no-unneeded-ternary": [1],
    "comma-dangle": ["error", "always-multiline"],
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],

    // "mobx/rule-name": 2,
    // unicorn
    // "unicorn/filename-case": 0,
    // "unicorn/no-null": 0,
    // "unicorn/prefer-spread": 0,
    // "unicorn/catch-error-name": 0,
    // "unicorn/no-abusive-eslint-disable": 1,
    // "unicorn/prevent-abbreviations": [
    //   1,
    //   {
    //     "replacements": {
    //       "args": false,
    //       "err": false,
    //       "prod": false,
    //       "ref": false,
    //       "params": false,
    //       "props": false
    //     }
    //   }
    // ],
    // "unicorn/prefer-ternary": 0,
    // "unicorn/prefer-query-selector": 0,
    // "unicorn/consistent-function-scoping": 0,

    "prefer-regex-literals": 0,
    "promise/always-return": 0,

    // typescript-eslint
    // "@typescript-eslint/no-floating-promises": 1,
    "@typescript-eslint/no-unnecessary-condition": 0,
    "@typescript-eslint/no-unsafe-call": 0,
    "@typescript-eslint/no-unsafe-assignment": 0
  },
  "overrides": [
    {
      "files": "**/*.+(ts|tsx)",
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint/eslint-plugin"],
      "extends": [
        "plugin:@typescript-eslint/recommended"
        // "eslint-config-prettier/@typescript-eslint"
      ],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      },
      "rules": {
        "import/named": "off",
        "import/no-cycle": "off",
        "import/extensions": "off",
        "react/jsx-no-bind": "off",
        "no-use-before-define": [0],
        "import/no-unresolved": "off",
        "import/no-duplicates": "off",
        "import/no-self-import": "off",
        "import/no-named-as-default" : "off",
        "import/no-relative-packages": "off",
        "no-unsafe-optional-chaining": "off",
        "@typescript-eslint/ban-types": "off",
        "react/jsx-no-useless-fragment": "off",
        "unused-imports/no-unused-vars": "off",
        "@typescript-eslint/no-namespace": "off",
        "import/no-useless-path-segments": "off",
        "import/no-named-as-default-member": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/no-use-before-define": [1],
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/quotes": [
          1,
          "single",
          {
            "avoidEscape": true,
            "allowTemplateLiterals": true
          }
        ],
        "react/function-component-definition": "off",
        "no-undef": "off"
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["**/*.config.js", "babel.config.js"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".css"]
      },
      "typescript": {
        "project": "."
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
